* {
  border: 1px solid black;
  font-family: sans-serif;
  /*margin: 0px;*/
}

.inline-p {
  display: inline;
  border: 5px dashed green;
  padding:120px ;
  /*
  padding-left: 30px;
  */
}

.inline-p-2 {
  border: 5px dashed green;
  /*
  padding-left: 30px;
  */
}

#px-div {
  width: 90%;
  height: 500px;
  background-color: blue;
}

#pct-div {
  width: 90%;
  height: 90%;
  background-color: tan;
}

#overflow-box {
  max-height: 100px;
  overflow: scroll;
}

#bmp-box p {
  padding: 20px;
}